 .navbar{
    background-color: #103CA3;
    padding: 1rem;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
} 

.navbar-brand{
    color: white;
}

.nav-link {
    color: white;
} 

.search
{
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 50rem;
}

.search .btn {
    background-color:   #FFA900;
    margin-right: 0.5rem;
}



.card{
    background-color: #D9D9D9;
    border-style: none;
    margin: 1.5rem ;
}

.card h3{
    font-weight: 700;
}

.card-text{
    font-weight: 700;
    color: #FFA900;
    font-size: large;
    text-align: right;
}

@media screen and (max-width: 767px) {
    .navbar-brand{
        display: none;
    }
}