 /*
 Estilos sobre el body, html y todos los container de las páginas
 */
 body {
    font-family: 'Roboto', 'Trebuchet MS', sans-serif;
    /* Necesario para que el footer se quede abajo */
    height: 100%;
    display: flex;
    flex-direction: column;
 }
 html {
    height: 100%; /* Necesario para que el footer se quede abajo */
 }

 .container {
    flex: 1; /* Necesario para que el footer se quede abajo */
}

/*  
 Estilos navbar 
*/

 .navbar {
    background-color: #103CA3;
    padding: 1rem;
    box-shadow: 0px 2px 5px #103CA3;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
} 

.navbar-brand {
    height: 3rem;
}

.navbar-brand:hover {
    cursor: pointer;
}

.nav-link {
    color: white;
    transition: all .1s ease-in-out;
    font-weight: 600;
} 

.nav-link:hover {
    color: #FFA900;
}
/* 
Estilos barra búsqueda
*/

.search {
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 50rem;
}

.search .btn {
    background-color: #FFA900;
    margin-right: 0.5rem;
    transition: all .2s ease-in-out;
}

.search .btn:active {
    background-color: #2E68F0;
}
/* 
Estilos de las tarjetas de destinos
*/

.card {
    background-color: #D9D9D9;
    border-style: none;
    margin: 1.5rem;
    border-radius: 2rem;
    transition: all .2s ease-in-out;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.card:active {
    background-color: #a7a7a7;
}

.card h3 {
    font-weight: 700;
}

.card-img-top {
    border-radius: 2rem 0;
}

.card-text {
    font-weight: 700;
    color: #FFA900;
    font-size: large;
    text-align: right;
}

/*
Estilos del botón de ver más
*/

.ver-mas-container {
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.ver-mas-boton {
    color: white;
    font-weight: 700;
    background-color: #2E68F0;
    border-radius: .5rem;
    border: none;
    padding: 1rem 3rem;
}

.ver-mas-boton:hover {
    background-color: #103CA3;
}

.ver-mas-boton:active {
    background-color: #062b81;
}

/* 
Estilos del footer
*/

.footer-container {
    display: flex;
    color: white;
    background-color: #062b81;
    padding: 3rem;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.footer-text-container {
    display: flex;
    flex-wrap: wrap;
}

.footer-text {
    transition: all .2s ease-in-out;
    font-weight: 600;
    margin: .5rem;
}

.footer-text:hover {
    color: #FFA900;
    cursor: pointer;
}

.footer-logo {
    height: 2rem;
    margin-right: 2rem;
}

.footer-logo:hover {
    cursor: pointer;
}

.footer-icons-container {
    display: flex;
    flex-wrap: wrap;
}

.imagen-logo {
    height: 2rem;
    width: 2rem;
    margin: .5rem;
}

.imagen-logo:hover {
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .navbar-brand{
        display: none;
    }
}

/*
Estilos de la página de destino
*/

.titulo-destino {
    margin-top: 2rem;
}

.imagen-destino-main {
    height: 100%;
    object-fit: cover;
    max-height: 450px;
}

.imagenes-destino-carrusel {
    border-radius: 2rem 0;
}

.info-detallada-destino {
    margin: 2rem;
}

@media screen and (max-width: 992px) {
    .texto-detallado-destino {
        overflow: none;
        margin-top: 2rem;
    }
}

@media screen and (min-width: 992px) {
    .texto-detallado-destino {
        max-height: 30rem;
        overflow: auto;
    }
}

/*
Estilos del formulario de reserva
*/

.contenedor-formulario-reserva {
    margin: 2rem 0;
}

.form-control {
    margin-bottom: 1rem;
}
