<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Error - <%= status %> <%= mensaje %></h1>
        <p>Se ha producido el siguiente error:</p>
        <pre><%= pila %></pre>
    </body>
</html>