<footer>
    <div class="row footer-container">
        <div class="col-md-9 footer-text-container">
          <img src="/images/logo-small-transparent.png" alt="logo de la agencia Odyssey Travel en formato pequeño" class="footer-logo">
          <div class="footer-text">Política de cookies</div>
          <div class="footer-text">Política de privacidad</div>
          <div class="footer-text">FAQ</div>
        </div>
        <div class="col-md-3 float-right footer-icons-container">
          <a target="_blank" href="https://instagram.com">
            <img src="/images/instagram.png" alt="Logo instagram" class="imagen-logo">
          </a>
          <a target="_blank" href="https://twitter.com">
              <img src="/images/twitter.png" alt="Logo twitter" class="imagen-logo">
          </a>
          <a target="_blank" href="https://facebook.com">
              <img src="/images/facebook.png" alt="Logo facebook" class="imagen-logo">
          </a>
        </div>
      </div>
</footer>