<header>
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar-toggler">
            <a href="/"><img src="/images/logo-big-transparent.png" alt="logo de Odyssey Travel" class="navbar-brand"></a>
            <ul class="navbar-nav d-flex justify-content-center align-items-center">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sobre nosotros</a>
              </li>
              <% if (ses !== undefined) {  %>
              <li class="nav-item">
                <p><%=ses%></p>
              </li>
              <% } else { %>
              <li class="nav-item">
                <a class="nav-link" href="/login.html">Log in</a>
              </li>
              <% } %>

            </ul>
          </div>
        </div>
    </nav>
</header>